/*Se normaliza*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*se utiliza para alinear verticalmente un elemento en relación con la línea de base de su elemento padre.*/
    vertical-align: baseline;
}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
/* deslizarce en la pagina */
html{
    scroll-behavior: smooth;
    min-width: 1000px;
}


body{
    text-align: center;
    font-family: sans-serif;
    
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #420C14;
    position: fixed;
    width: 100%;
    /*se utiliza para controlar el apilamiento y el orden de los elementos posicionados en una página web. Especifica la posición en el eje Z, que es el eje que se extiende hacia el frente y hacia atrás de la pantalla.*/
    z-index: 100 ;
}

.logo{
    margin-left: 30px;
}
.logo a{
    text-decoration: solid;
    color: #EFF7CF;
    text-transform: uppercase;
    font-size: 30px;
}
.navbar{
display: flex;
margin-right: 10px;
}
.navbar a{
    display: block;
    padding: 20px 20px;
    color: #EFF7CF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
.navbar a:hover{

    background:#732C2C ;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh !important;
    
    background: url(../img/fondo_inicio.avif)    no-repeat center;
    background-size: cover;
    
}

.titulo_principal {
    color: hsla(0, 0%, 0%, .9);
    font: normal 140px Varela Round, sans-serif;
    left: 0;
    letter-spacing: 5px;
    margin: -80px 0 0 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 25%;
    width: 100%;
    animation: move linear 2000ms infinite;  
    font-size: 60px !important;
  }
  
  @keyframes move {
      0% {
          text-shadow:
            4px -4px 0 hsla(0, 100%, 50%, 1), 
            3px -3px 0 hsla(0, 100%, 50%, 1), 
            2px -2px 0 hsla(0, 100%, 50%, 1), 
            1px -1px 0 hsla(0, 100%, 50%, 1),
            -4px 4px 0 hsla(180, 100%, 50%, 1), 
            -3px 3px 0 hsla(180, 100%, 50%, 1), 
            -2px 2px 0 hsla(180, 100%, 50%, 1), 
            -1px 1px 0 hsla(180, 100%, 50%, 1)
          ;
        }
    25% {    
      text-shadow:      
        -4px -4px 0 hsla(180, 100%, 50%, 1), 
        -3px -3px 0 hsla(180, 100%, 50%, 1), 
        -2px -2px 0 hsla(180, 100%, 50%, 1), 
        -1px -1px 0 hsla(180, 100%, 50%, 1),
        4px 4px 0 hsla(0, 100%, 50%, 1), 
        3px 3px 0 hsla(0, 100%, 50%, 1), 
        2px 2px 0 hsla(0, 100%, 50%, 1), 
        1px 1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0 hsla(0, 100%, 50%, 1), 
        -3px 3px 0 hsla(0, 100%, 50%, 1), 
        -2px 2px 0 hsla(0, 100%, 50%, 1), 
        -1px 1px 0 hsla(0, 100%, 50%, 1),
        4px -4px 0 hsla(180, 100%, 50%, 1), 
        3px -3px 0 hsla(180, 100%, 50%, 1), 
        2px -2px 0 hsla(180, 100%, 50%, 1), 
        1px -1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 hsla(180, 100%, 50%, 1), 
        3px 3px 0 hsla(180, 100%, 50%, 1), 
        2px 2px 0 hsla(180, 100%, 50%, 1), 
        1px 1px 0 hsla(180, 100%, 50%, 1),
        -4px -4px 0 hsla(0, 100%, 50%, 1), 
        -3px -3px 0 hsla(0, 100%, 50%, 1), 
        -2px -2px 0 hsla(0, 100%, 50%, 1), 
        -1px -1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    100% {
      text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }  
  }
  
  


.title{
  
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.my-button{
    margin-bottom: 40px;
}
p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #EFF7CF;
    padding: 0 100px;
    text-decoration: double;
    text-align:justify;
    width: fit-content;
    
    
}
.boton{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid color(#EFF7CF);
    color: black;
    text-decoration: none;
    background: #ABA361;
}
.boton:hover{
    /*El color que quieran*/
    background:none ;
}
.boton-home{
    display: flex;
}
.boton-home a{
    margin: 0 10px;
}
.contenido{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Seccion nosotros */

.nosotros{
    background-color: #849c80;
    height: 90vh !important;
}

.contenedor_nosotros {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
}

.contenedor_nosotros img{
    width: 500px;
    margin-left: 50px;
}
/* animacion del boton */

button {
    animation: wiggle 2s linear infinite;
    }
    
    
    @keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
    }
    
    button {
    position: relative;
    left: calc(50% - 3em);
    top: calc(50% - 2em);
    
    height: 4em;
    width: 7em;
    
    background: #420C14;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid    blue;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
    cursor: pointer;
    }
    .button:hover {
        background-color: #426644; /* Color de fondo más oscuro al pasar por encima */
    }
/* Seccion caracteristicas */

.caracteristicas{
    padding: 30px;
    background: #BDA076;

}

.box-contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-contenedor .box{
    height: 18rem;
    width: 20rem;
    background: #A19F73;
    text-align:center ;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem rgb(0, 0,0,.5);
    margin: 2rem;
}

.box-contenedor .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: white;
   
}

.box-contenedor .box h3{
    font-size: 20px;
    color: #732C2C; 
    
}
.box-contenedor .box p{
    font-size: 16px;
    padding: 15px;
    margin: 0 !important;
}




/* Seccion favoritos */

.favoritos{
    height: 110vh;
    background: #5B3C2A;
   
    
}
.contenedorimg{
    max-width: 50%;
    position: relative;
   
}
.myslides{
   display: none;
}
.myslides img {
    width: 500px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
 
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


.prev:hover,.next:hover{
background:#732C2C ;
}
.elementos{
    text-align: center;
}
.quadrate{
    cursor: pointer;
    height: 4px;
    width: 50px;
    margin: 0 2px;
    background-color: #333;
    display: inline-block;
    transition-duration: 0.6 ease;
    border-radius:  2px solid black; 
}

.active, .quadrate:hover{
    background: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }




.Citas{
    background-color: #849c80;
}


#cita{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(255, 166, 0, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      disappear 0s step-end 5;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes disappear {
    from, to { border-color: transparent }
  }
  

.grande{
    width: 60rem !important;
    height: 20rem !important;
}

#logo{
    width: 50px;
    height: 50px;
}


.plan{
background:#5B3C2A ;
}
.subscribete{
    background: #A07F6A;
}
  

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #aba888;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #732C2C;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #420C14;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:7px;
	background-color:#f6f6f6;			
	margin:8px 0;
	display:block;
}
footer{
    background: #420C14;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
footer h2{
    color: white;
}


@media(max-width: 1233px){

    .logo{
        margin-left: 10px;
    }

    .logo a {
        font-size: 20px;
    }
    .caracteristicas{
    
        height: 100vh !important;
    }
    .nosotros{
        
        height: 100vh !important;
    }
    .grande{
        width: 55rem !important;
    height: 20rem !important;
    }
    
}
 @media(max-width: 1100px){
   

    .logo a {
        font-size: 20px;
    }
  
    .navbar a {
        font-size: 12px;
        padding: 15px 15px;
    }
    .caracteristicas{
    
        height: 100vh !important;
    }
    .nosotros{
        
        height: 110vh !important;
    }

    .grande{
        width: 50rem !important;
    height: 20rem !important;
    }
    
}
 @media(max-width: 1082px){


    .logo a {
        font-size: 20px;
    }
  
   
    .navbar a {
        font-size: 12px;
        padding: 15px 15px;
    }
    .caracteristicas{
    
        height: 100vh !important;
    }
    .nosotros{
        
        height: 120vh !important;
    }

    
    .grande{
        width: 55rem !important;
    height: 20rem !important;
    }

    .contenedor_nosotros img{
        width: 400px;
   text-align: center;
      margin-top: 30px;
    }

    .contenedor_nosotros  {
        flex-direction: column;
       
         }

    .contenedor_nosotros p {
        margin-top: 30px;
        font-size: 15px;
             }
 
    .my-button{
        margin-top: 20px;
    }     
}   
@media(max-width: 984px){

.head{
flex-direction: column;
height: 100px;
}

    .caracteristicas{
    
        height: 100vh !important;
    }
    .nosotros{
        
        height: 120vh !important;
    }

    
    .grande{
        width: 40rem !important;
    height: 20rem !important;
    }

    .contenedor_nosotros img{
        width: 400px;
    }

    .contenedor_nosotros  {
        flex-direction: column;

         }

    p{
        margin-right: 50px;
    }
 
    .my-button{
        margin-top: 20px;
    }   
    .ajuste{
        font-size:  40px !important;

    }  
    
}   
@media(max-width: 800px){

    .head{
    flex-direction: column;
    height: 100px;
    
    }
    .navbar{
        margin-right: 320px;
    }
    
        .caracteristicas{
        
            height: 150vh !important;
        }
        .nosotros{
            
            height: 120vh !important;
        }
    
        
        .grande{
            width: 40rem !important;
        height: 20rem !important;
        }
    
        .contenedor_nosotros img{
            width: 400px;
        }
    
        .contenedor_nosotros  {
            flex-direction: column;
    
             }
    
        p{
            margin-right: 50px;
        }
     
        .my-button{
            margin-top: 20px;
        }   
       
         .contenido{
            margin-right: 100px;
            margin-left: -80px;
         }

         .box-contenedor{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
        }
        footer{
            background: #420C14;
            padding: 20px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            margin-right: 100px;
        }
    }   
    @media(max-width: 800px){

        .head{
        flex-direction: column;
        height: 100px;
        
        }
        .navbar{
            margin-right: 320px;
        }
        
            .caracteristicas{
            
                height: 150vh !important;
            }
            .nosotros{
                
                height: 120vh !important;
            }
        
            
            .grande{
                width: 40rem !important;
            height: 20rem !important;
            }
        
            .contenedor_nosotros img{
                width: 400px;
            }
        
            .contenedor_nosotros  {
                flex-direction: column;
        
                 }
        
            p{
                margin-right: 50px;
            }
         
            .my-button{
                margin-top: 20px;
            }   
           
             .contenido{
                margin-right: 100px;
                margin-left: -80px;
             }
    
             .box-contenedor{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
            }
            footer{
                background: #420C14;
                padding: 20px;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                margin-right: 100px;
            }
        }   
        @media(max-width: 760px){

            .head{
            flex-direction: column;
            height: 100px;
            }
           
            .navbar{
                margin-right: 320px;
            }
            
                .caracteristicas{
                
                    height: 150vh !important;
                }
                .nosotros{
                    
                    height: 120vh !important;
                }
            
                
                .grande{
                    width: 30rem !important;
                height: 20rem !important;
                }
            
                .contenedor_nosotros img{
                    width: 400px;
                }
            
                .contenedor_nosotros  {
                    flex-direction: column;
            
                     }
            .title{
                font-size: 30px;
            }
                p{
                    margin-right: 120px;
                }
             
                .my-button{
                    margin-top: 20px;
                }   
               
                 .contenido{
                    margin-right: 100px;
                    margin-left: -80px;
                 }
        
                 .box-contenedor{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    text-align: center;
                }
                footer{
                    background: #420C14;
                    padding: 20px;
                    text-align: center;
                    font-family: 'Times New Roman', Times, serif;
                    margin-right: 100px;
                }
                .ajuste{
                    font-size: 30px !important;
                }
            }   